@model travelus.Models.ViewModels.TourItemViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Delete Menu Item</h2>
<br />
<form method="post">
    <div class="backgroundWhiteBorder row">
        <div class="col-8">
            <input type="hidden" asp-for="TourItem.Id" />
            <fieldset disabled>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="TourItem.Name" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="TourItem.Name" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="TourItem.Description" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        @Html.TextAreaFor(m => m.TourItem.Description)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="TourItem.Price" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="TourItem.Price" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="TourItem.CategoryId" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="TourItem.Category.Name" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="TourItem.SubCategoryId" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="TourItem.SubCategory.Name" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="TourItem.Season" class="custom-label"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="TourItem.Season" asp-items="Html.GetEnumSelectList<TourItem.ESeason>()" class="form-control"></select>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <img src="@Model.TourItem.Image" width="100%" style="border-radius:5px;border:1px solid #bbb9b9;" />
        </div>
        <div class="col-8">
            <div class="col-8 offset-4">
                <partial name="_DeleteAndBackToListButton" model="Model.TourItem.Id" />
            </div>
        </div>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.4.1.min.js">
<script src="https://cdn.tiny.cloud/1/pgubw0ezqu7csfmaihiix4pmgp1zxwy2gmd0duvh4qdncuf9/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist",
            menubar: 'file edit format',
            readonly: 1
        });</script>
    <script>tinymce.init({ selector: 'textarea' });</script>

}
